@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color:#f8f9fb;
}
.center {
    line-height: 500px;
}

    .center p {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }
aside{
    /*z-index:9999;*/
    height:100vh;
    position:fixed !important;
    z-index:200 !important;
 /*   display:none;*/
}
.App {
    background-color: #f8f9fb;
}
.main-class {
    /*z-index: -1;*/
    /* top: 0px;
    position: absolute;
    padding-left: 80px;*/
    background-color: #f8f9fb;
    width: 100%;
    display: flex;
    justify-self: center;
    justify-content: center;
}
li{
    width:60%;
}
.input-image-div-1 {
    display: flex;
    border: 1px solid #00000040;
    height: 55px;
    width: 31.5%;
    padding-left: 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}
.input-image-div-2 {
    display: flex;
    border: 1px solid #00000040;
    height: 55px;
    width: 65.5%;
    padding-left: 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}
.field-hover:hover {
    border: 1px solid black;
}
.highlight {
    color: #1da1f2;
}
.MuiTextField-root fieldset {
    border-radius: 8px !important;
}
.verify-btn {
    border-radius: 20px;
    border: 1px solid rgb(187, 187, 222);
    height:40px;
    width:120px;
    cursor:pointer;
}
    .verify-btn:hover {
        border-color: rgb(165, 165, 204);
    }
.tweet-container {
    width: 60vw;
    min-width:650px;
    max-width:800px;
    height: auto;
    min-height: 200px;
    background-color: white;
    border: 1px solid #e1e1ef;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self:center;
    /*margin-left: 10%;*/
}
#tweet-inner {
    width: 600px;
    height: auto;
    background-color: white;
    border: 1px solid #e1e1ef;
    margin-top: 15px;
    margin-bottom:15px;
}
.input-image-container{
    width:100%;
    display:flex;
    justify-content:space-between;
    /*margin-top:20px;*/
    gap:1px;
}
.tweet-input-image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1px;
}
.tweet-name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
     gap: 2vw;
}
.tweet-name-div {
    width: 22vw;
    min-width:200px;
}
.tweet-text-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width:100%;
    /*margin-left:5vw;*/
}
.tweet-count-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 2vw;
}
.tweet-count-div {
    width: 22vw;
    min-width:200px;
}
.insta-container{
    display:flex;
    width:100%;
}
.insta-post-outer {
    width:30%;
    min-width: 436px;
    height: auto;
    padding-bottom:10px;
    padding-top:10px;
    background-color: white;
    border: 1px solid #e1e1ef;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.insta-input-container {
    width: 50vw; 
    display: grid;
    gap: 10px;
    justify-content:center;
    margin:0px 0px 0px 20px;
}
.insta-input-image-div {
    /* min-width:400px;
    max-width:700px;
    justify-self:center;*/
    display: flex;
    border: 1px solid #00000040;
    height: 55px;
    width: 45%;
    min-width: 200px;
    padding-left: 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}
.insta-input-username {
    display: flex;
    justify-content: center;
    width: 100%;
}
.insta-input-feild-container {
    display: flex;
    justify-content: space-between;
    width: inherit;
}
.insta-input-feild{
    width:90%;
}
.insta-stats-feild{
    width:15vw;
}
.insta-stats-container {
    display: flex;
    justify-content: space-between;
    width: inherit;
}
.insta-comment-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.insta-comment-name {
    width:28vw;
}
.insta-comment-text {
    width: 50vw;
}
.insta-date{
    display:flex;
    /*justify-content:end;*/
}
.insta-post-text{
    width:inherit;
}
.tweet-click-div-1{
    width:80%;
}
.tweet-click-div-2 {
    width: 55%;
    min-width: 220px;
}
.tweet-imagelist{
    width:36%;
}
.insta-comment-container-outer{
    width:inherit;
}
.insta-click-div {
    width: 80%;
}
@media (max-width:700px) {
    .tweet-overflow-div {
        overflow-x: scroll;
    }
    .insta-date {
        
    }
    .tweet-imagelist {
       min-width:150px;
    }
}
@media (max-width:768px) {
    /*tablet*/
    aside {
        display: none;
    }

    main {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .tweet-container {
        min-width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    #tweet-inner {
        min-width: 100%;
    }
    .tweet-click-div-1 {
        width: 91.5%;
    }
    .tweet-click-div-2 {
        width: 60%;
        min-width:220px;
    }
    .insta-input-username {
        
        width: inherit;
    }

    .input-image-container {
        display: grid;
        gap: 2vw;
    }
    .tweet-input-image-container {
        display: grid;
        gap: 2vw;
    }
    
        .input-image-div-1, .input-image-div-2 {
        width: 90vw;
        min-width: 400px;
    }

    .tweet-name-container {
        display: grid;
        gap: 4vh;
    }

    .tweet-name-div {
        width: 90vw;
    }

    .tweet-text-div {
        margin-left: 0;
        width: 90vw;
    }

    .tweet-count-container {
        display: grid;
        gap: 4vh;
    }

    .tweet-count-div {
        width: 90vw;
    }

    .insta-container {
        display: grid;
        width: inherit;
    }
    .insta-date {
    }
    .insta-post-outer {
        justify-self: center;
    }

    .insta-input-image-div {
        width:90vw;
        min-width: 380px;
        max-width: 700px;
        justify-self: center;
    }

    .insta-input-container {
        width: inherit;
        display: grid;
        gap: 20px;
        justify-self: center;
        margin:0;
    }

    .insta-input-feild-container {
        display: grid;
        gap: 20px;
    }

    .insta-input-feild {
        width: 90vw;
    }

    .insta-stats-feild {
        width: 25vw;
    }

    .insta-stats-container {
        gap: 10px;
        width:inherit;
    }
    .insta-comment-container {
       
        width: inherit;
    }
    .insta-comment-name {
        width: 35vw;
    }

    .insta-comment-text {
        width: 52vw;
    }
    .tweet-imagelist {
        width: 33%;
        min-width:160px;
    }
    .insta-head{
        justify-self:center;
    }
    .insta-comment-container-outer {
        width: 90vw;
    }
    .insta-click-div{
        width:90%;
    }
}
    @media (max-width:425px) {
        #tweet-inner {
            min-width: 100%;
        }

        .tweet-overflow-div {
            overflow-x: scroll;
        }

        aside {
            display: none;
        }

        main {
            width: 100%;
            padding-left: 10px;
            padding-right: 10px;
        }

        .tweet-container {
            padding-left: 10px;
            padding-right: 10px;
        }

        .input-image-container {
            display: grid;
            gap: 2vh;
        }
        .tweet-input-image-container {
            display: grid;
            gap: 2vh;
        }
            .input-image-div {
            width: 25em;
            min-width: 380px;
        }

        .tweet-name-container {
            display: grid;
            gap: 4vh;
        }

        .tweet-name-div {
            width: 25em;
        }

        .tweet-text-div {
            margin-left: 0;
            width: 25em;
        }

        .tweet-count-container {
            display: grid;
            gap: 2vh;
        }

        .tweet-count-div {
            width: 25em;
        }
        .insta-container{
            width:85vw;
            justify-self:center;
        }
        .insta-post-text{
            width:100%;
        }
        .insta-post-outer {
            justify-self: center;
            width:360px;
            min-width:100%;
        }
        .insta-comment-container {
            display: grid;
            gap:20px;
        }
        .insta-comment-name {
            width:90vw;
        }

        .insta-comment-text {
            width: 90vw;
        }
        .insta-date {
        }
        .insta-input-username {
            width: 100%;
        }
        .insta-stats-container{
            width:100%;
        }
        .tweet-click-div-2 {
            width: 45%;
            min-width: 185px;
        }
        .insta-head {
            justify-self: center;
        }
        .insta-comment-container-outer {
            width: 90vw;
        }
        .insta-click-div {
            width: 85%;
        }
        .insta-wrapper{
          overflow:auto;
        }
    }
@media (min-width:769px) and (max-width:1024px) {
    .insta-pad-container {
        /*            padding-left:8vw;
*/
    }

    .insta-stats-container, .insta-input-feild-container, .input-image-container {
        display: grid;
        justify-content: unset;
        gap: 10px;
    }

    .insta-input-image-div {
        width: 100%;
    }

    .insta-input-container {
        width: 35vw;
        gap: 15px;
    }

    .insta-input-feild, .insta-stats-feild {
        width: inherit;
    }
    .insta-click-div {
        width: 82%;
    }
}
@media (min-width:900px) and (max-width:1024px) {
    .insta-comment-name{
        width:28vw;
    }
}





















    /*@import url('https://fonts.googleapis.com/css?family=Lato');

body {
    background-color: #f8f9fb;
}

.center {
    line-height: 500px;
}

    .center p {
        display: inline-block;
        line-height: normal;
        vertical-align: middle;
    }

aside {*/
    /*z-index:9999;*/
    /*height: 100vh;
    position: fixed !important;
    z-index: 200 !important;
}

.App {
    background-color: #f8f9fb;
}

main {*/
    /*z-index: -1;*/
    /*top: 0px;
    position: absolute;
    padding-left: 80px;
    background-color: #f8f9fb;
    . width:100%;
    display: flex;
    justify-self: center;
    justify-content: center;
}

li {
    width: 60%;
}

.input-image-div-1 {
    display: flex;
    border: 1px solid #00000040;
    height: 55px;
    width: 31.5%;
    padding-left: 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.input-image-div-2 {
    display: flex;
    border: 1px solid #00000040;
    height: 55px;
    width: 65.5%;
    padding-left: 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.field-hover:hover {
    border: 1px solid black;
}

.highlight {
    color: #1da1f2;
}

.MuiTextField-root fieldset {
    border-radius: 8px !important;
}

.verify-btn {
    border-radius: 20px;
    border: 1px solid rgb(187, 187, 222);
    height: 40px;
    width: 120px;
    cursor: pointer;
}

    .verify-btn:hover {
        border-color: rgb(165, 165, 204);
    }

.tweet-container {
    width: 60vw;
    min-width: 650px;
    height: auto;
    min-height: 200px;
    background-color: white;
    border: 1px solid #e1e1ef;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-self: center;*/
    /*margin-left: 10%;*/
    /*}

#tweet-inner {
    width: 600px;
    height: auto;
    background-color: white;
    border: 1px solid #e1e1ef;
    margin-top: 15px;
    margin-bottom: 15px;
}

.input-image-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 1px;
}

.tweet-name-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 2vw;
}

.tweet-name-div {
    width: 22vw;
    min-width: 200px;
}

.tweet-text-div {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;*/
    /*margin-left:5vw;*/
    /*}

.tweet-count-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 2vw;
}

.tweet-count-div {
    width: 22vw;
    min-width: 200px;
}

.insta-container {
    display: flex;
    width: 100%;
}

.insta-post-outer {
    width: 436px;
    height: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: white;
    border: 1px solid #e1e1ef;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.insta-input-container {
    width: 50vw;
    display: grid;
    gap: 10px;
    justify-content: center;
    margin: 0px 20px 0px 20px;
}

.insta-input-image-div {*/
    /* min-width:400px;
    max-width:700px;
    justify-self:center;*/
    /*display: flex;
    border: 1px solid #00000040;
    height: 55px;
    width: 45%;
    min-width: 200px;
    padding-left: 12px;
    background-color: white;
    border-radius: 8px;
    cursor: pointer;
}

.insta-input-username {
    display: flex;
    justify-content: center;
    width: 100%;
}

.insta-input-feild-container {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.insta-input-feild {
    width: 90%;
}

.insta-stats-feild {
    width: 15vw;
}

.insta-stats-container {
    display: flex;
    justify-content: space-between;
    width: inherit;
}

.insta-comment-container {
    display: flex;
    justify-content: space-between;
    width: 80vw;
}

.insta-comment-name {
    width: 30vw;
}

.insta-comment-text {
    width: 45vw;
}

.insta-date {
    display: flex;
    justify-content: end;
}

.insta-post-text {
    width: inherit;
}

.tweet-click-div-1 {
    width: 80%;
}

.tweet-click-div-2 {
    width: 55%;
    min-width: 220px;
}

.tweet-imagelist {
    width: 36%;
}

.insta-comment-container-outer {
    width: 80vw;
}

@media (max-width:700px) {
    .tweet-overflow-div {
        overflow-x: scroll;
    }

    .insta-date {
    }

    .tweet-imagelist {
        min-width: 150px;
    }
}

@media (max-width:768px) {*/
    /*tablet*/
    /*aside {
        display: none;
    }

    main {
        width: 100%;
        padding-left: 50px;
        padding-right: 50px;
    }

    .tweet-container {
        min-width: 100%;
        padding-left: 5px;
        padding-right: 5px;
    }

    #tweet-inner {
        min-width: 100%;
    }

    .tweet-click-div-1 {
        width: 91.5%;
    }

    .tweet-click-div-2 {
        width: 60%;
        min-width: 220px;
    }

    .insta-input-username {
        width: inherit;
    }

    .input-image-container {
        display: grid;
        gap: 2vw;
    }

    .input-image-div-1, .input-image-div-2 {
        width: 90vw;
        min-width: 400px;
    }

    .tweet-name-container {
        display: grid;
        gap: 4vh;
    }

    .tweet-name-div {
        width: 90vw;
    }

    .tweet-text-div {
        margin-left: 0;
        width: 90vw;
    }

    .tweet-count-container {
        display: grid;
        gap: 4vh;
    }

    .tweet-count-div {
        width: 90vw;
    }

    .insta-container {
        display: grid;
        width: inherit;
    }

    .insta-date {
    }

    .insta-post-outer {
        justify-self: center;
    }

    .insta-input-image-div {
        width: 90vw;
        min-width: 380px;
        max-width: 700px;
        justify-self: center;
    }

    .insta-input-container {
        width: inherit;
        display: grid;
        gap: 20px;
        justify-self: center;
        margin: 0;
    }

    .insta-input-feild-container {
        display: grid;
        gap: 20px;
    }

    .insta-input-feild {
        width: 90vw;
    }

    .insta-stats-feild {
        width: 25vw;
    }

    .insta-stats-container {
        gap: 10px;
        width: inherit;
    }

    .insta-comment-container {
        width: inherit;
    }

    .insta-comment-name {
        width: 35vw;
    }

    .insta-comment-text {
        width: 52vw;
    }

    .tweet-imagelist {
        width: 33%;
        min-width: 160px;
    }

    .insta-head {
        justify-self: center;
    }

    .insta-comment-container-outer {
        width: 90vw;
    }
}

@media (max-width:425px) {
    #tweet-inner {
        min-width: 100%;
    }

    .tweet-overflow-div {
        overflow-x: scroll;
    }

    aside {
        display: none;
    }

    main {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px;
    }

    .tweet-container {
        padding-left: 10px;
        padding-right: 10px;
    }

    .input-image-container {
        display: grid;
        gap: 2vh;
    }

    .input-image-div {
        width: 25em;
        min-width: 380px;
    }

    .tweet-name-container {
        display: grid;
        gap: 4vh;
    }

    .tweet-name-div {
        width: 25em;
    }

    .tweet-text-div {
        margin-left: 0;
        width: 25em;
    }

    .tweet-count-container {
        display: grid;
        gap: 2vh;
    }

    .tweet-count-div {
        width: 25em;
    }

    .insta-container {
        width: 85vw;
        justify-self: center;
    }

    .insta-post-text {
        width: 100%;
    }

    .insta-post-outer {
        justify-self: center;
        width: inherit;
    }

    .insta-comment-container {
        display: grid;
        gap: 20px;
    }

    .insta-comment-name {
        width: 90vw;
    }

    .insta-comment-text {
        width: 90vw;
    }

    .insta-date {
    }

    .insta-input-username {
        width: 100%;
    }

    .insta-stats-container {
        width: 100%;
    }

    .tweet-click-div-2 {
        width: 45%;
        min-width: 185px;
    }

    .insta-head {
        justify-self: center;
    }

    .insta-comment-container-outer {
        width: 90vw;
    }
}

@media (min-width:1024px) {
    .insta-pad-container {
        padding-left: 8vw;
    }
}*/